@charset "UTF-8";

*{
 outline: none !important ;
}

.page-main{
	padding: 80px 0;
}

div.view-box{
	background-color: white;
    border-radius: 20px;
    padding: 50px;
    width: 600px;
    height: 910px;
    margin: 0 auto;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
    box-sizing: initial;
}

.listBtn{
	width: 150px;
	height: 50px;
	margin-left: 10px;
	background-color: #ffad00;
	color: white;
	border-radius: 30px;
	font-size: 15px;
    font-weight: bold;
    border: none;
}

.go_list{
	margin-top: 40px;
	display: flex;
    justify-content: flex-end;
}

/* 업태명 + 하트 나란히 배치  */
.detail_semi_wrap{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.flex_wrap1{
	display: flex;
    justify-content: space-around;
}

.flex_wrap2{
	display: flex;
	margin-left: 20px;
	margin-top: 5px;
}

.detail_box{
	white-space: pre-line;
}

.detail_semi_wrap{
	margin-bottom: 20px;
}

.text_box{
	display: flex;
	margin-top: 15px;
	margin-left: 20px;
}

.text_box span{
	font-size: 18px;
	font-weight: bold;
}

.menu_span{
	margin-right: 220px;
}

.title_box{
    margin-bottom: 30px;
    text-align: center;
}

.title_box span{
	font-size: 24px;
	font-weight: bold;
}

.detail_span{
	margin-bottom: 15px;
}

.open_box{
	margin-top: 5px;
	margin-left: 15px;
}

.open_box span{
	font-size: 12px;
}

.close_box{
	margin-top: 5px;
	margin-left: 15px;
}

.close_box span{
	font-size: 12px;
}

.tel_box{
	margin-bottom: 15px;
}

.tel_box span{
	font-size: 12px;
}


.menu_box{
	background-color: #ffad00;
	border-radius: 20px;
	color: white;
	width: 50%;
	height: 350px;
	margin-right: 2%;
	margin-top: 15px;
	font-size: 15px;
	padding-left: 20px;
	padding-top: 10px;
	white-space: pre-line;
}

#map{
	width: 400px;
	border-radius: 20px;
	height: 250px;	
}


.food_box{
	margin-right: 150px;
}

.food_box span{
	font-size: 18px;
	font-weight: bold;
	color: #ffad00;
}

.heart_box{
	float: right;
}

.heart_box i{
	color: #ffad00;
	font-size: 30px;
}

.rest_img{
	width: 300px;
	height: 300px;
	border-radius: 20px;
	object-fit: cover;
}

.img_box{
	margin: 20px 0;
}

#rest_add{
	border: none;
	width: 300px;
	font-size: 12px;
	margin-bottom: 5px;
}
