<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.EatStamp.mapper.MemberAdminMapper">  

	<!-- 회원목록 -->
	<select id="selectMemList" parameterType="map" resultType="memberVO">
		SELECT 
			mem_num,
			mem_email,
			mem_nick,
			mem_birth,
			mem_genderCode,
			mem_branchCode,
			mem_admin_auth,
			mem_report_cnt
		FROM(
			SELECT
				@rownum:=@rownum+1 AS rn,
				mem_num,
				mem_email,
				mem_nick,
				mem_birth,
				mem_genderCode,
				mem_branchCode,
				mem_admin_auth,
				mem_report_cnt
			FROM eatstamp.member, (SELECT @rownum:=0) TMP
	        <where>
	        	AND mem_admin_auth IN (0, 2)
	            <if test="searchType != '' and searchKeyword != ''">
	                <choose>
	                    <when test="searchType == 'email'">
	                        AND mem_email LIKE CONCAT('%', #{searchKeyword}, '%')
	                    </when>
	                    <when test="searchType == 'nick'">
	                        AND mem_nick LIKE CONCAT('%', #{searchKeyword}, '%')
	                    </when>
	                </choose>
	            </if>
	        </where>
			ORDER BY mem_num DESC
			) t1
		WHERE rn BETWEEN #{start} and #{end}
	</select>
	
	<!-- 검색 결과 개수 -->
  	<select id="selectMemRowCount" resultType="int">
  		SELECT 
  			COUNT(*) 
  		FROM eatstamp.member 
	    <where>
	    	AND mem_admin_auth != 1
	        <if test="searchType != '' and searchKeyword != ''">
	            <choose>
	                <when test="searchType == 'email'">
	                    AND mem_email LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	                <when test="searchType == 'nick'">
	                    AND mem_nick LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	            </choose>
	        </if>
	    </where>
  	</select>
  	
  	<!-- 회원 상태 업데이트 -->
  	<update id="updateMemberStatus" parameterType="map">
  		UPDATE eatstamp.member
  		SET mem_admin_auth = #{mem_admin_auth}
  		WHERE mem_num = #{mem_num}
  	</update>
  	
  	
  	<!-- 0428최은지 신고글 리스트 개수 구하기  -->
  	<select id="selectReportRowCount"  resultType="int">
	  	SELECT 
			COUNT(*)
		FROM
			report
  	</select>
  	
  	
  	<!-- <0428 최은지 신고글 리스트 출력 -->
  	<select id="getReportAdminList" parameterType="map" resultType="reportVO">
	 	SELECT 
		  		report_num,
	  			mem_num,
	  			mem_num2,
	  			report_why,
	  			report_ynCode,
	  			s_num,
	  			cmt_num,
	  			report_return
			FROM(
				SELECT @rownum:=@rownum+1 AS rn,
				report_num,
	  			mem_num,
	  			mem_num2,
	  			report_why,
	  			report_ynCode,
	  			s_num,
	  			cmt_num,
	  			report_return
				FROM eatstamp.report , (SELECT @rownum:=0) TMP
				) t1
			WHERE rn BETWEEN #{start} and #{end}
  	</select>
  	
  	
  	<!-- 0502 최은지 관리자 신고 내역 상세 확인-->
		<select id="selectReportDetailContent" parameterType="reportVO" resultType="reportVO">
		  SELECT 
		    r.report_num,
		    r.mem_num,
		    r.mem_num2,
		    r.report_why,
		    r.report_ynCode,
		    r.s_num,
		    r.cmt_num,
		    r.report_return,
		    r.report_link,
		    m1.mem_email AS mem_email1,
		    m1.mem_nick AS mem_nick1,
		    m2.mem_email AS mem_email2,
		    m2.mem_nick AS mem_nick2
		    
		  FROM
		    eatstamp.report r
		    
		    JOIN member m1 ON r.mem_num = m1.mem_num
		    JOIN member m2 ON r.mem_num2 = m2.mem_num
		    
		  WHERE 
		    r.report_num = #{report_num}
		</select>
		
  	
  	<!--  0502 최은지 관리자 신고 회원 닉네임, 이메일 조회-->
  	<select id="getMemberOne" parameterType="int" resultType="reportVO">
		  SELECT 
			mem_nick,
			mem_email
		FROM 
			member
		WHERE mem_num = #{mem_num}
  	</select>
  	
  	
  	 <!--  0502 최은지 관리자 피신고 회원 닉네임, 이메일 조회-->
  	<select id="getMemberTwo" parameterType="int" resultType="reportVO">
		  SELECT 
			mem_nick,
			mem_email
		FROM 
			member
		WHERE mem_num = #{mem_num2}
  	</select>
  	
  	
  	<!-- 0503 최은지 회원 신고 승인 / 피신고회원 신고횟수 누적 및 조건 충족 시 정지 -->
  	<update id="acceptMemberReport" parameterType="memberVO" >
	  	UPDATE 
	  		member 
		SET
			 mem_report_cnt = mem_report_cnt + 1,
			 mem_admin_auth = CASE 
	 	 WHEN
	 	 	 mem_report_cnt % 3 = 0 THEN 2 
	 	 ELSE 
	 	 	mem_admin_auth 
		END 
		WHERE
			 mem_email = #{mem_email}
  	</update>
  	

  	<!-- 0503 최은지 회원 신고 승인 시 ynCode컬럼 업데이트  -->
  	  	<update id="changeYncode" parameterType="int">
  		UPDATE 
	  		report 
		SET 
			report_ynCode = 'y'
		WHERE
  			 report_num = #{report_num}
  	</update>
  	
  	
  	<!-- 0503 최은지 회원 신고 반려 처리 / 반려 사유 업데이트 -->
  	<update id="denidedMemberReport" parameterType="reportVO">
  		UPDATE 
	  		report 
		SET 
			report_return = #{report_return},
			report_ynCode = 'n'
		WHERE
  			 report_num = #{report_num}
  	</update>
  	
  
  <!-- <0503 최은지 신고글 검색 후 리스트 출력 -->
	 <select id="getSearchReportAdminList" parameterType="map" resultType="reportVO">
			SELECT 
			    report_num,
			    mem_num,
			    mem_num2,
			    report_why,
			    report_ynCode,
			    s_num,
			    cmt_num,
			    report_return,
			    report_link
			FROM (
			    SELECT @rownum:=@rownum+1 AS rn,
			    report_num,
			    mem_num,
			    mem_num2,
			    report_why,
			    report_ynCode,
			    s_num,
			    cmt_num,
			    report_return,
			    report_link
			    FROM report r, (SELECT @rownum:=0) TMP
			    <if test="field != '' and search_keyword != ''">
			       <choose>
	                <when test="field == 'mem_num'">
	                   	WHERE EXISTS (
			            SELECT 1
			            FROM member m
			            WHERE m.mem_email LIKE CONCAT('%', #{search_keyword}, '%')
			            AND r.mem_num = m.mem_num
	                </when>
	                <when test="field == 'mem_num2'">
	                   	WHERE EXISTS (
			            SELECT 1
			            FROM member m
			            WHERE m.mem_email LIKE CONCAT('%', #{search_keyword}, '%')
			            AND r.mem_num2 = m.mem_num
	                </when>
	            </choose> 
			      )
			    </if>
			) t1
			WHERE rn BETWEEN #{start} and #{end}
	</select>
	
	
	<!-- 0504 최은지 신고검색결과 카운트  -->
	 <select id="countReportAdminList" parameterType="map" resultType="int">
			SELECT 
			    COUNT(*)
			FROM report r
			<if test="field != '' and search_keyword != ''">
			    <choose>
			        <when test="field == 'mem_num'">
			            WHERE EXISTS (
			                SELECT 1
			                FROM member m
			                WHERE m.mem_email LIKE CONCAT('%', #{search_keyword}, '%')
			                AND r.mem_num = m.mem_num
			            )
			        </when>
			        <when test="field == 'mem_num2'">
			            WHERE EXISTS (
			                SELECT 1
			                FROM member m
			                WHERE m.mem_email LIKE CONCAT('%', #{search_keyword}, '%')
			                AND r.mem_num2 = m.mem_num
			            )
			        </when>
			        <otherwise>
			            WHERE 1=0
			        </otherwise>
			    </choose> 
			</if>
	</select>
  	
</mapper>