<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.EatStamp.mapper.OwnerMapper">

	<!-- 0512 최은지 최초 생성  -->
	<!-- 사장 로그인 정보 조회 -->
 	<!-- ownerMapper.selectLoginOwnerInforCheck  -->
	<select id="selectLoginOwnerInforCheck" resultType="memberVO"  parameterType="memberVO">	
		SELECT	mem_num,
					mem_email, 
					mem_pw,
					mem_nick,
					mem_profileCode,
					mem_admin_auth
		FROM	member
		WHERE	mem_email = #{mem_email}
	</select>
	
	<!-- 0515 이예지 최초 생성  -->
	<!-- 사장님 비밀번호 변경용 비밀번호 받아오기 -->
	<!-- ownerMapper.selectOwnerPW  -->
	<select id="selectOwnerPW" parameterType="memberVO"  resultType="memberVO">
		SELECT	mem_num,
				mem_email,
				mem_pw
		FROM 	member
		WHERE	mem_num = #{mem_num}
	</select>
		
	<!-- 0515 이예지 최초 생성  -->
	<!-- 사장님 비밀번호 재설정 -->
	<!-- ownerMapper.updateOwnerPW  -->
	<update id="updateOwnerPW" parameterType="memberVO">
		UPDATE	member
		SET		mem_pw = #{mem_pw}
		WHERE	mem_email = #{mem_email}
	</update>
	
	<!-- 0515 최은지 최초 생성  -->
	<!-- 상호명 검색결과 개수 조회 -->
 	<!-- ownerMapper.selectLoginOwnerInforCheck  -->
	<select id="selectCountOwnerSignUpRestResult" resultType="int"  parameterType="map">	
		SELECT	COUNT(*)
		FROM	rest
		WHERE	r_name LIKE CONCAT('%', #{search_keyword}, '%')
	</select>
	
	<!-- 0515 최은지 최초 생성  -->
	<!-- 상호명 검색결과 조회 -->
 	<!-- ownerMapper.selectOwnerSignUpRestResult  -->
	<select id="selectOwnerSignUpRestResult" resultType="searchVO"  parameterType="map">	
		SELECT	r_name,
					r_add,
					r_tel,
					r_num,
					r_category,
					r_food
		FROM	rest
		WHERE	r_name LIKE CONCAT('%', #{search_keyword}, '%')
	</select>
		
	<!-- 0515 최은지 최초 생성  -->
	<!-- 사장 회원 회원가입 처리 -->
 	<!-- ownerMapper.insertOwnerSignUpInfo  -->
	<insert id="insertOwnerSignUpInfo" parameterType="memberVO">	
		INSERT INTO member
			( mem_email
				, mem_pw
				, mem_birth
				, mem_nick
				, mem_genderCode
				, mem_profileCode
				, mem_branchCode
				, mem_mail_key
				, mem_mail_auth
				, mem_auth_pwEmail
				, mem_admin_auth
				, mem_report_cnt)
		VALUES( #{mem_email}
					, #{mem_pw}
					, '1900-01-01'
					, #{mem_nick}
					, ''
					, ''
					, 'O'
					, ''
					, 0
					, 0
					, 3
					, 0 )
	</insert>
	
	<!-- 0516 최은지 최초 생성  -->
	<!-- 사장 회원 회원가입 처리 중 기존 가입여부 확인 -->
 	<!-- ownerMapper.getDuplSignUpCheck  -->
	<select id="getDuplSignUpCheck" resultType="restVO"  parameterType="String">	
		  SELECT r_num,
		  			r_name
		  FROM rest r
		  JOIN member m ON m.mem_nick = r.r_name
		  WHERE r_name = #{r_name}
	</select>	
	
	<!-- 0516 최은지 최초 생성  -->
	<!-- 사장 회원 회원가입 처리 중 기존 가게 정보 업데이트 -->
 	<!-- ownerMapper.getDuplSignUpCheck  -->
	<update id="updateRestInfoSignUp"  parameterType="restVO">	
		 UPDATE rest
		 SET  r_block = 0, 
		 		r_resveCode = 'n'
		 WHERE r_num = #{r_num}
	</update>	
	
	<!-- 0516 최은지 최초 생성  -->
	<!-- 사장 회원 회원가입 시 신규 가게 등록 -->
 	<!-- ownerMapper.selectOwnerSignUpRestResult  -->
	<insert id="insertOwnerSignUpNewRestInfo" parameterType="restVO">	
		INSERT INTO rest
			( r_name
				, r_add
				, r_food
				, r_tel
				, r_fileName
				, r_fileRoot
				, r_detail
				, r_menu
				, r_open
				, r_close
				, r_rate
				, r_category
				, r_block
				, r_resveCode
				, r_resveTime
				, r_resveDay
				, r_resveMemCnt
				, r_resveTableCnt )
			VALUES( #{r_name}
						, #{r_add}
						, ''
						, ''
						, ''
						, ''
						, ''
						, ''
						, ''
						, ''
						, 0
						, ''
						, 1
						, 'n'
						, 120
						, 14
						, 6
						, 1 )
	</insert>
	
	
	<!-- 0518 최은지 최초 생성  -->
	<!-- 사장 회원 헤더 알림 갱신용 정보 조회 -->
 	<!-- ownerMapper.getMemNickEqualRestName  -->
	<select id="getMemNickEqualRestName" parameterType="String" resultType="memberVO">
		SELECT r_num,
					r_name,
					mem_num
		FROM rest r
		JOIN member m ON m.mem_nick = r.r_name
		WHERE r_name = #{mem_nick}	
	</select>
	
	<!-- 0518 최은지 최초 생성  -->
	<!-- 사장 회원 헤더 알림 갱신용 미확인 알림 조회 -->
 	<!-- ownerMapper.getCountUnidentifiedAlert  -->
	<select id="getCountUnidentifiedAlert" parameterType="int" resultType="int">
		SELECT	COUNT(*) 
		FROM	resve
		WHERE	r_num = #{r_num}
		AND		resve_chk = 'n'
	</select>
	
</mapper>