<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EatStamp.mapper.ResveMapper">

	<!-- 사장님 - 예약 목록 -->
	<select id="selectListResve" parameterType="map" resultType="resveVO">
		SELECT  resve_num,
				mem_num,
				r_num,
				resve_date,
				resve_memCnt,
				resve_chk,
				resve_sttus,
				resve_name,
				resve_phoneNum
		FROM(
			SELECT	@rownum:=@rownum+1 AS rn,
					resve_num,
					mem_num,
					r_num,
					resve_date,
					resve_memCnt,
					resve_chk,
					resve_sttus,
					resve_name,
					resve_phoneNum
			FROM	eatstamp.resve, (SELECT @rownum:=0) TMP
			WHERE	r_num = #{r_num}
			ORDER	BY resve_date DESC
			) t1
		WHERE	rn BETWEEN #{start} and #{end}
	</select>
	
	<select id="selectResveCnt" parameterType="String" resultType="int">
		SELECT	COUNT(*) 
		FROM 	eatstamp.resve resve 
		JOIN 	eatstamp.rest rest 
		ON		resve.r_num = rest.r_num
		JOIN 	eatstamp.member member 
		ON 		rest.r_name = member.mem_nick
		WHERE 	member.mem_nick = #{mem_nick}
	</select>

	<update id="updateResveStatus" parameterType="map">
		UPDATE	eatstamp.resve 
		SET 	resve_sttus = #{resve_sttus}
		WHERE 	resve_num = #{resve_num}
	</update>

</mapper>