<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EatStamp.mapper.ResveMapper">

	<!-- 0512 이예지 최초 생성  -->
	<!-- 사장님 - 예약 목록 조회 -->
 	<!-- resveMapper.selectListResve  -->
	<select id="selectListResve" parameterType="map" resultType="resveVO">
		SELECT  resve_num,
				r_num,
				resve_date,
				resve_memCnt,
				resve_chk,
				resve_sttus,
				resve_name,
				resve_phoneNum
		FROM(
			SELECT	@rownum:=@rownum+1 AS rn,
					resve_num,
					resve.r_num,
					resve_date,
					resve_memCnt,
					resve_chk,
					CASE 
						WHEN resve_sttus = 'W' THEN 1
						ELSE 2
					END AS status_order,
					resve_sttus,
					resve_name,
					resve_phoneNum
			FROM	eatstamp.resve resve 
			JOIN 	eatstamp.rest rest 
			ON		resve.r_num = rest.r_num 
			JOIN 	eatstamp.member member 
			ON 		rest.r_name = member.mem_nick 
			JOIN	(SELECT @rownum:=0) TMP 
			WHERE	member.mem_nick = #{mem_nick} 
			ORDER	BY status_order ASC, resve_date DESC
			) t1
		WHERE	rn BETWEEN #{start} and #{end}
	</select>
	
	<!-- 0512 이예지 최초 생성  -->
	<!-- 사장님 - 예약 개수 선택 -->
 	<!-- resveMapper.selectResveCnt  -->
	<select id="selectResveCnt" parameterType="map" resultType="int">
		SELECT	COUNT(*) 
		FROM 	eatstamp.resve resve 
		JOIN 	eatstamp.rest rest 
		ON		resve.r_num = rest.r_num
		JOIN 	eatstamp.member member 
		ON 		rest.r_name = member.mem_nick
		WHERE 	member.mem_nick = #{mem_nick}
	</select>

	<!-- 0512 이예지 최초 생성  -->
	<!-- 사장님 - 예약 상태 업데이트 -->
 	<!-- resveMapper.updateResveStatus  -->
	<update id="updateResveStatus" parameterType="map">
		UPDATE	eatstamp.resve 
		SET 	resve_sttus = #{resve_sttus}
		WHERE 	resve_num = #{resve_num}
	</update>
	
	<!-- 0515 이예지 최초 생성  -->
	<!-- 사장님 - 예약 설정 조회 -->
 	<!-- resveMapper.selectRestResve  -->
 	<select id="selectOwnerSetting" parameterType="String" resultType="restVO">
	 	SELECT	r_num,
	 			r_name,
	 			r_resveCode,
				r_resveTime,
				r_resveDay,
				r_resveMemCnt,
				r_resveTableCnt
		FROM	rest
		WHERE	r_name = #{r_name}
 	</select>
 	
 	<!-- 0515 이예지 최초 생성  -->
	<!-- 사장님 - 예약 설정 업데이트 -->
 	<!-- resveMapper.updateRestResve  -->
 	<update id="updateOwnerSetting" parameterType="restVO">
 		UPDATE	rest
 		SET		r_resveCode = #{r_resveCode}, 
				r_resveTime = #{r_resveTime},  
				r_resveDay = #{r_resveDay}, 
				r_resveMemCnt = #{r_resveMemCnt}, 
				r_resveTableCnt = #{r_resveTableCnt}
  		WHERE	r_name = #{r_name}
 	</update>

</mapper>