div.mypage-menu {
    width: 180px;
    height: 290px;
}

p.menu-list {
	margin-bottom: 15px;
}

div.stamp-table-name{
	display: flex;
    justify-content: space-between;
}

span.table{
	color: lightgray;
	margin: 0;
}

div.box-parent {
	display: block;
}

span.table-image{
	width: 150px;
    text-align: center;
}

span.table-title{
    width: 100px;
    text-align: center;
}

span.table-rname{
    width: 200px;
    text-align: center;
}

span.table-regdate{
    width: 60px;
    text-align: center;
}

span.table-writer{
    width: 110px;
    text-align: center;
}

div.list-span01{
	margin-left: 0px;
}

div.box-section1{
	justify-content: space-between;
}

div.box-no{
	width: 150px;
    text-align: center;
}

div.box-title{
	width: 100px;
    text-align: center;
}

div.box-rname{
	width: 200px;
	text-align: center;
}

div.box-date{
	width: 60px;
    text-align: center;
}

div.box-mem4{
	width: 110px;
	text-align: center;
}

div.box-button{
	margin-top: 5px;
}

button.update-btn{
    background-color: #ffc06c;
    color: white;
    padding: 3px 8px;
    border-radius: 15px;
}

div.mypage-menu-second{
    width: 150px;
    height: 190px;
    background: white;
    border-radius: 25px;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
    padding: 20 0 20 30px;
}

h3#footer_title {
	margin-top: 0;
}