@charset "UTF-8";

*{
 outline: none !important ;
}

.div_page{
	width: 70%;
	margin: 0 auto;
	padding: 80px;
}

.div_all_wrap{
	display: grid;
	justify-items: center;
	margin: 40px 0;
}

.div_logoWrap{
    display: flex;
    align-items: flex-end;
}

.img_mainLogo{
 	height: 150px;
	margin-bottom: 10px;
	margin-left: 120px;
}

.txt_ownerLogin{
	font-size: 30px;
	font-weight: bold;
	color: #ffd274;	
	margin-left: 10px;
	margin-bottom: 10px;
}

.div_loginInputWrap input {
    display: block;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #f6ecdb;
    color: white;
    font-size: 18px;
    margin: 15px 0 0 0;
    font-weight: bold;
    height: 60px;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
    padding-left: 30px;
}

/* placeholder 지정  */
input::placeholder{
	color: #c6c1b1;
}

.div_btnWrap button {
    width: 230px;
    height: 50px;
    border-radius: 30px;
    background-color: #ffd274;
    color: white;
    font-size: 20px;
    margin: 15px 10px 0 0;
    font-weight: bold;
    float: right;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
}

.div_messageWrap{
	display: inline-block;
	align-items: right;
    position: relative;
    width: 500px;
}

.div_messageBox a{
    margin-top: 10px;
    padding-right: 20px;
    text-align: right;
    font-size: 15px;
    float: right;
    color: #929292;
}