

 /* 좌측 메뉴바 */

div#wrap{
	display: flex;
    justify-content: center;
    padding: 50px 0;
    width: 1000px;
    width: 1300px;
    margin: 0 auto;
}

div.mypage-menu {
    width: 150px;
    height: 150px;
    height: 200px;
    background: white;
    border-radius: 25px;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
    padding: 20 0 20 30px;
    flex: 2;
}

select{
    height: 30px;
    padding: 0 0 0 5px;
    width: 80px;
    border: 1px solid #ffc06c;
    border-radius: 20px;
    color: #ffc06c;
/*     text-align: center; */
}

div.mypage-div02{
	flex: 4;
    margin-left: 100px;
}

.ajax_text{
	border: none;
	color: #666666;
	font-size: 13px;
	flex:8;
}

.modal_detail_report span{
	font-size: 14px;
	margin-right: 10px;
}

a.menu-list{
	font-size: 13px;
    font-weight: bold;
}

p.menu-list{
	margin: 10px 0 10px 10px;
}

div.no-admin{
	background-color: white;
    text-align: center;
    padding: 50px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span.no-admin{
	font-size: 16px;
    font-weight: bold;
    color: #d90000;
    margin: 3px 0;
}

/* 우측 list */
div.no-list{
	background-color: white;
    text-align: center;
    padding: 50;
    width: 500;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
}

span.no-list{
	font-size: 16px;
    font-weight: bold;
    color: gray;
}

div.mypage-section1{
	display: flex;
    align-items: center;
}

span.mypage-title{
    font-size: 25px;
    color: ffc06c;
    font-weight: bold;
    flex: 1;
}

i.writeBtn{
	font-size: 30px;
}

ul.list-ul{
	margin: 30px 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
    padding: 30px;
}

li.list-list{
	list-style-type: none;
}

div.box-parent{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    cursor: pointer;
}

div.box-section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

i.imageIcon{
    font-size: 40px;
    color: ddd9cb;
}

img#imgfile{
	height: 40px;
    width: 40px;
    border-radius: 5px;
    object-fit: cover;
}

div.list-span01{
	margin-left: 25px;
	margin-top: 3px;
}

/* div.box-date{ */
/* 	color: #ddd9cb; */
/* } */

span.font-set1{
	font-size: 16px;
	font-weight: bolder;
	color: ffc06c;
}

span.font-set2{
	font-size: 14px;
	color: gray;
}

span.font-set4{
	font-size: 14px;
	color: gray;
}

span.font-set3{
	font-size: 12px;
    color: gray;
}

i.restIcon{
	margin-right: 5px;
    color: #b1b1b1;
}

hr.line{
    margin: 15px 0;
    background: #ddd9cb;
    height: 1px;
    border: 0;
}

div.page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon{
	color: #ffc06c;
}

.insert_btn{
	height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: #ffc06c;
    color: white;
    margin-right: 5px;
}

.why_box{
	display: flex;
}

.return_text{
	flex: 1;
}

.ajax_area{
	flex: 1;
	border: none;
	color: #666666;
	white-space: normal;
	width: 500px;
	font-size: 13px;
}

.return_val{
	resize: none;
}
.return_insert_val{
	resize: none;
	width: 570px;
	border-color: #666666;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
}

#two_modal{
	font-size: 15px;
}

.cancelBtn{
	margin-right: 20px;
}
