@charset "UTF-8";

div.page-main{
	padding: 80px 0;
}

h3{
	margin: 0;
}

div.view-box{
	background-color: white;
    border-radius: 20px;
    padding: 50px;
    width: 600px;
    margin: 0 auto;
    box-shadow: 3px 3px 30px 1px #ebebeb70;
    box-sizing: initial;
}

div.box-wrap{
	padding: 0 20px;
}

/* section1 (프로필, 제목, 작성일시) */
div.section1{
    display: flex;
    align-items: center;
}

i.pIcon{
    font-size: 40px;
    color: #ffc06c;
}

div.box-title{
    margin-left: 20px;
}

div.box-title2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.box-icons{
	color: lightgrey;
	display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
}

span.font-set1{
    font-size: 25px;
    letter-spacing: -1;
    font-weight: bold;
    color: #ffc06c;
}

div.box-date{
    margin-top: 5px;
    color: lightgrey;
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

div.section1-1{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

i.mapIcon{
    font-size: 20px;
    color: #ffc06c;
}

i.icon-set{
	font-size: 16px;
	color: lightgray;
}

div.section1-1-2{
    flex: 1;
    margin: 0 20px;
    font-size: 14px;
    color: #9d9d9d;
    font-weight: bold;
}

div.section1-1-3{
    background-color: #ffd274;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 13px;
    color: white;
    font-weight: bold;
}
/* section1 (프로필, 제목, 작성일시) 끝 */

/* section2 (이미지, 내용) */
div.box-img{
    display: flex;
    justify-content: center;
}

img.fileImg{
    border-radius: 20px;
    max-width: 600px;
}

div.box-content{
    margin: 30px 0;
}

span.font-set2{
    font-size: 16px;
    letter-spacing: -1;
}

span.font-set3{
	font-size: 15px;
    font-weight: bold;
}

span.font-set4{
    font-size: 15px;
    color: 5da6ff;
    margin: 0 20px;
}
/* section2 (이미지, 내용) 끝 */

/* section3 (버튼) */
div.section3{
    display: flex;
    justify-content: flex-end;
}

button.box-button{
	padding: 10px 25px;
    border-radius: 20px;
    color: white;
}

button.delete_btn{
	background-color: #b7b7b7;
    margin: 0 10px 0 0;
}

button.list_btn{
	background-color: #ffd274;
}
/* section3 (버튼) 끝 */


/* 댓글 */
div#com_first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#com_second{
    margin-bottom: 20px;
}

span.letter-count{
	margin-left: 5px;
    color: lightgray;
}

textarea.form-control{
	width: 90%;
	resize: none;
	border-radius: 20px;
	padding: 5px 15px;
}

button.cmtBtn{
    background-color: #ffd274;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
}

div.cmt_title{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

div.cmt_title_1{
	display: flex;
	align-items: center;
}

h4.cmt_writer{
	margin: 0 5px 0 0;
    font-size: 13px;
    font-weight: bold;
}

p.cmt_text{
    font-size: 10px;
    color: lightgray;
    margin-bottom: 2px;
}

div.sub-item{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

hr{
    background: lightgray;
    height: 1px;
    border: 0;
    margin: 10px 0;
}

input.cmtBtn{
    height: 25px;
    width: 40px;
    background-color: #b7b7b7;
    border: 0;
    color: white;
    border-radius: 20px;
}
/*댓글 끝*/

/* 댓글 수정 */
textarea.form-control2{
	width: 100%;
	resize: none;
	border-radius: 20px;
	padding: 5px 15px;
	margin: 5px 0;
}

div#mcom_first{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

input.com-mod{
	background-color: #ffd274;
}
/* 댓글 수정 끝 */

/* 모달 */
.modal-dialog{
	width: 600px;
    margin: 30px auto;
    position: relative;
    top: 20%;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: bold;
}

.modal-x{
    position: relative;
    top: -20px;
}

.modal_detail_report div {
    margin-bottom: 5px;
}

.menu_text{
    font-size: 15px;
    font-weight: bold;
    width: 80px;
    display: inline-block;
}

div.con-box{
	display: flex;
}

div.why-box{
	display: flex;
}

div.btn-box{
	display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.ajax_text{
    border: none;
    color: #666666;
    font-size: 13px;
    outline: none;
}

textarea.ajax_text{
	overflow: hidden;
    resize: none;
    margin-left: 80px;
    width: 500px;
    height: 60px;
    outline: none;
}

textarea.ajax_text1{
	overflow: hidden;
    resize: none;
    width: 500px;
    height: 60px;
    outline: none;
    margin: 3px 5px;
    border: none;
    font-size: 13px;
}

textarea.ajax_text2{
    overflow: hidden;
    resize: none;
    width: 450px;
    height: 50px;
    border-radius: 20px;
    padding: 5px 15px;
}

#ajax_text_mem1 {
    margin-left: 82px;
}

#ajax_text_mem2 {
    margin-left: 82px;
}

button.btn{
	background-color: #b7b7b7;
    border-radius: 20px;
    color: white;
    margin: 0 5px;
}

input.btn{
	background-color: #b7b7b7;
    border-radius: 20px;
    color: white;
    margin: 0 5px;
    height: 35;
}


/* 모달 끝 */